[submodule "js-projects/js-form-validator-prj"]
	path = js-projects/js-form-validator-prj
	url = https://github.com/jdfdoyley/js-form-validator-prj.git
[submodule "js-lessons"]
	path = js-lessons
	url = https://github.com/jdfdoyley/js-lessons.git
